<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ddd.twinkle.safehero">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:name=".app.SafeHeroApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".calling.RecordActivity">
        </activity>

        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false"/>

        <activity android:name=".calling.CallingActivity">
        </activity>
        <activity android:name=".emergency.EmergencyActivity">
        </activity>
        <activity
                android:name=".signup.ui.BottomNavigation"
                android:label="@string/title_activity_bottom_navigation">
        </activity>
        <activity
                android:name=".signup.ui.AddParentActivity"
                android:label="@string/title_activity_add_parent"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".signup.ui.SignupActivity">
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity
                android:name=".SplashActivity"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyDMFSiDtOVO7bx0-sARbeTAn9T18NodpD4"/>
    </application>

</manifest>